{% extends 'portfolio/layout.html' %}

{% load static %}

{% block style %}
<title>Contacto</title>
<link rel="icon" href="{% static '/images/contact.png' %}">
{% endblock %}

{% block main %}


    <div class="contactMe">
        <div class="title">
            <h2>Entre em Contacto</h2>
        </div>
        <div class="box">
            <div class="contact form">
                <h3>Send a message</h3>
                <form action="" >
                    <div class="formBox">
                        <div class="row50">
                            <div class="inputBox">
                                <span>Primeiro Nome</span>
                                <input type="text" placeholder="Bernardo">
                            </div>
                            <div class="inputBox">
                                <span>Último Nome</span>
                                <input type="text" placeholder="Taciano">
                            </div>
                        </div>

                        <div class="row50">
                            <div class="inputBox">
                                <span>Email</span>
                                <input type="email" placeholder="bernardotaciano1@gmail.com">
                            </div>
                            <div class="inputBox">
                                <span>Telemóvel</span>
                                <input type="text" placeholder="+351 921 471 812">
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <span>Mensagem</span>
                                <textarea name="" cols="30" rows="10" placeholder="Escreve a mensagem..."></textarea>
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <input type="submit" value="Enviar">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="contact info">
                <h3>Contact Info</h3>
                <div class="infoBox">
                    <div>
                        <span><ion-icon name="location-outline"></ion-icon></span>
                        <p>Torres Vedras, Lisboa <br>Portugal</p>
                    </div>
                    <div>
                        <span><ion-icon name="mail-outline"></ion-icon></span>
                        <a href="mailto:bernardotaciano1@gmail.com">bernardotaciano1@gmail.com</a>
                    </div>
                    <div>
                        <span><ion-icon name="call-outline"></ion-icon></span>
                        <a href="tel:+351924464517">+351 924 464 517</a>
                    </div>
                </div>

                <div class="sci">
                    <li><a href=""><i class="fab fa-github" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </div>
            </div>
            <div class="contact map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6193.135075381791!2d-9.316896446533555!3d39.09354731948114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1f2dc6e6eec1c5%3A0x74d9ecc840071720!2sTorres%20Vedras!5e0!3m2!1spt-PT!2spt!4v1682420350192!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

{% endblock %}
