{% extends 'portfolio/layout.html' %}


{%load static %}

{% block main %}

    <div class="education-header">
        <h2>Educação</h2>
    </div>

    <div class="timeline">
        <div class="container left-container">
            <img src="{% static 'portfolio/images/AEMT.png' %}" alt="Aemt Logo">
            <div class="text-box">
                <h2>Escola Secundária Madeira Torres</h2>
                <small>2018-2021</small>
                <p>Frequentei o curso científico-humanístico de ciências e tecnologias.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="{% static 'portfolio/images/ulht.png' %}" alt="Ulht Logo">
            <div class="text-box">
                <h2>Universidade Lusófona de Humanidades e Tecnologias</h2>
                <small>2021 - Presente</small>
                <p>Frequento o curso de Engenharia Informática.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
    </div>


{% endblock %}
