{% extends 'portfolio/layout.html' %}

{%load static %}


{% block style %}
    <title>Skills</title>
    <link rel="icon" href="{% static '/images/skills.png' %}">

{% endblock %}

{% block main %}

    <section class="skills">
        <h1>SKILLS</h1>
    </section>

    <div class="skills-text">
        <h1>Técnicas</h1>
        <div class="skills-content" id="tecnicas">
            <div>
                <img src="{% static 'portfolio/images/React-icon.png' %}" alt="React Icon">
                <h2>React</h2>
            </div>

            <div>
                <img src="{% static 'portfolio/images/JavaScript.png' %}" alt="JavaScript">
                <h2>JavaScript</h2>
            </div>

            <div>
                <img src="{% static 'portfolio/images/java.png' %}" alt="Java">
                <h2>Java</h2>
            </div>

            <div>
                <img src="{% static 'portfolio/images/html.png' %}" alt="Html">
                <h2>Html</h2>
            </div>

            <div>
                <img src="{% static 'portfolio/images/css.png' %}" alt="Css">
                <h2>Css</h2>
            </div>

            <div>
                <img src="{% static 'portfolio/images/kotlin.png' %}" alt="Kotlin">
                <h2>Kotlin</h2>
            </div>

            <div>
                <img src="{% static 'portfolio/images/c.png' %}" alt="C">
                <h2>C</h2>
            </div>

            <div>
                <img src="{% static 'portfolio/images/sql.png' %}" alt="SQL">
                <h2>SQL</h2>
            </div>

            <div>
                <img src="{% static 'portfolio/images/mongodb.png' %}" alt="Mongo DB">
                <h2>Mongo DB</h2>
            </div>
        </div>

        <h1>Organizativas</h1>
        <div class="skills-content">
            <div>
                <i class="fa fa-hourglass" aria-hidden="true"></i>
                <h2>Gestão de tempo</h2>
            </div>

            <div>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <h2>Organização</h2>
            </div>

            <div>
                <i class="fa fa-people-arrows" aria-hidden="true"></i>
                <h2>Trabalho em equipa</h2>
            </div>

            <div>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <h2>Positividade</h2>
            </div>
        </div>

        <h1>Linguísticas</h1>
        <div class="skills-content">
            <div>
                <i class="fa fa-language" aria-hidden="true"></i>
                <h2>Português</h2>
            </div>

            <div>
                <i class="fa fa-language" aria-hidden="true"></i>
                <h2>Inglês</h2>
            </div>
        </div>
    </div>

{% endblock %}



