{% extends 'portfolio/layout.html' %}

{% load static %}

{% block style %}
    <title>Licenciatura</title>
    <link rel="icon" href="{% static '/images/universidade.png' %}">
{% endblock %}

{% block main %}

    <h1 class="titulo_seccao">Unidades Curriculares</h1>
    <div class="licenciatura">
        {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:criarcadeira' %}" class="button">+ Adicionar Cadeira</a>
        {% endif %} 

            {% for cadeira in cadeiras %}
                    <div>
                        <h3><a href="{{cadeira.link}}" class="titulo">{{cadeira.nome}}</a></h3>
                        <p><b>ECTS: </b>{{cadeira.ects}}</p>
                        <p><b>Ano Letivo: </b> {{cadeira.anoLectivo}}º</p>
                        <p><b>Semestre: </b>{{cadeira.semestre}}º</p>
                        <p><b>Ano: </b>{{cadeira.ano}}</p>
                        <p><b>Tópicos abordados: </b>{{cadeira.topicosAbordados}}</p>
                        {% if cadeira.linguagens.all.count > 0 %}
                            <p><b>Linguagens: </b> {% for linguagem in cadeira.linguagens.all %} {{linguagem.nome}}{% endfor %}</p>
                        {% endif %}
                        <p><b>Ranking (0-5): </b>{{cadeira.ranking}}</p>
                        <p><b>Docente Teórica: </b><a href="{{cadeira.docente_teorica.linklusofona}}" class="links">{{cadeira.docente_teorica.nome}} {{cadeira.docente_teorica.apelido}}</a></p>
                        <p><b>Docente Práticas: </b> 
                            {% for docente_pratica in cadeira.docentes_praticas.all %}
                                <a href="{{docentes_praticas.linklusofona}}" class="links"> {{docente_pratica.nome}} {{docente_pratica.apelido}}</a> 
                            {% endfor %}
                        </p>
                        {% if cadeira.projetos.all.count > 0  %}
                            <p>
                                <b>Projetos: </b>
                                {% for projeto in cadeira.projetos.all %}
                                <a href="{% url 'portfolio:projetos' %}" class="links">{{projeto.titulo}}</a> 
                                {% endfor %}
                            </p>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            <a href="{% url 'portfolio:apagarcadeira' cadeira.id %}">Apagar Cadeira</a>
                        {% endif %} 
                    </div>
            {% endfor %}
    </div>    

{% endblock %}